# Flight Route Analysis

This notebook analyzes flight route data from the local PostgreSQL database, including route information and price history.

## Setup and Imports

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from sqlalchemy import create_engine
from datetime import datetime, timedelta

# Set visualization style
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_theme(style="whitegrid")

# Display settings
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
!pip install pandas numpy matplotlib seaborn plotly sqlalchemy psycopg2-binary scikit-learn
#jupyter nbconvert --to notebook --execute flight_analysis.py --output flight_analysis.ipynb

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.8.4)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.12/site-packages (5.22.0)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-macosx_14_0_arm64.whl.metadata (4.9 kB)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.12/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from plotly) (8.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.10-cp312-cp312-macosx_14_0_arm64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 3.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

## Connect to PostgreSQL Database

In [5]:
# Connect to the PostgreSQL database
db_connection = {
    'dbname': 'routedb',
    'user': 'postgres',
    'password': 'postgres',  # In production, use environment variables
    'host': 'localhost',
    'port': '5432'
}

# Create SQLAlchemy engine
engine = create_engine("postgresql+psycopg2://{}:{}@{}:{}/{}".format(
    db_connection['user'],
    db_connection['password'],
    db_connection['host'],
    db_connection['port'],
    db_connection['dbname']
))

# Test connection
try:
    with engine.connect() as conn:
        print("Successfully connected to the database!")
except Exception as e:
    print(f"Error connecting to the database: {e}")

Successfully connected to the database!

## Data Exploration

In [1]:
# Get basic information about routes
routes_query = """
SELECT * FROM routes
ORDER BY created_at DESC
LIMIT 50
"""

routes_sample = pd.read_sql(routes_query, engine)
print("Sample of routes data:")
routes_sample.head()

NameError: name 'pd' is not defined

In [7]:
# Get basic information about routes
routes_query = """
SELECT distinct origin, destination
FROM routes

"""

routes_sample = pd.read_sql(routes_query, engine)
print("Sample of routes data:")
routes_sample.head()

Sample of routes data:

           origin      destination
0  New York (JFK)  Las Vegas (LAS)
1             JFK              FRA
2  New York (JFK)     Vienna (VIE)
3             JFK              SEA
4             JFK              LAS

In [9]:
# Get basic information about routes
routes_query = """
SELECT route_id, recorded_at
FROM price_history

"""

routes_sample = pd.read_sql(routes_query, engine)
print("Sample of routes data:")
routes_sample.head(n=15)

Sample of routes data:

    route_id                      recorded_at
0        226 2025-04-27 05:55:17.464000+00:00
1        226 2025-04-28 05:55:17.464000+00:00
2        226 2025-04-29 05:55:17.464000+00:00
3        226 2025-04-30 05:55:17.464000+00:00
4        226 2025-05-01 05:55:17.464000+00:00
5        226 2025-05-02 05:55:17.464000+00:00
6        226 2025-05-03 05:55:17.464000+00:00
7        226 2025-05-04 05:55:17.464000+00:00
8        226 2025-05-05 05:55:17.464000+00:00
9        226 2025-05-06 05:55:17.464000+00:00
10       226 2025-05-07 05:55:17.464000+00:00
11       226 2025-05-08 05:55:17.464000+00:00
12       226 2025-05-09 05:55:17.464000+00:00
13       226 2025-05-10 05:55:17.464000+00:00
14       226 2025-05-11 05:55:17.464000+00:00